# Копируй этот файл в .env и заполни своими значениями
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/todo_db
SECRET_KEY=your-secret-key-here-change-me
PROJECT_NAME=Todo API 2
VERSION=2.0.0
